@using EntityFrameWork_CodeFirst.ViewModels.Home
@model HomePageViewModel
@{
    ViewBag.Title = "HomePage";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Ana Sayfa</h2>
            <hr />
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <div>
                @Html.ActionLink("Yeni Kişi", "New", "Person", null, new { @class = "btn btn-primary" })
                <br /><br />
            </div>
            <ul class="list-group">
                <li class="list-group-item active">
                    Kişiler
                </li>
                @foreach (var a in Model.Persons)
                {
                <li class="list-group-item">
                    @Html.ActionLink("Düzenle", "Edit", "Person", new { personId = a.ID }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Sil", "Delete", "Person", new { personId = a.ID }, new { @class = "btn btn-danger btn-xs" })
                    <span class="glyphicon glyphicon-user green"></span> @(a.Name + " " + a.SurName) (<i>@a.Age</i>)
                </li>
                }

            </ul>
        </div>
        <div class="col-md-6">
            <div>
                @Html.ActionLink("Yeni Adres", "New", "Address", null, new { @class = "btn btn-primary" })
                <br /><br />
            </div>

            <ul class="list-group">
                <li class="list-group-item active">
                    Adresler
                </li>
                @foreach (var a in Model.Addresses)
                {
                <li class="list-group-item">
                    @Html.ActionLink("Düzenle", "Edit", "Address", new { adresId = a.ID }, new { @class = "btn btn-warning btn-xs" })
                    @Html.ActionLink("Sil", "Delete", "Address", new { adresId = a.ID }, new { @class = "btn btn-danger btn-xs" })
                    <span class="glyphicon glyphicon-home red"></span> @a.AddressDefinition (<i>@(a.Persons.Name + " " + a.Persons.SurName)</i>)
                </li>
                }

            </ul>
        </div>

    </div>
</div>



