<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        .block {
            display: block;
            margin: 10px;
            border: 2px dotted #0026ff;
            padding: 10px;
        }

        .block2 {
            display: inline-block;
            margin: 5px;
            border: 2px dotted #b6ff00;
            padding: 10px;
        }

        #menu ul li {
            display: inline-block;
            width: 100px;
            height: 30px;
            text-align: center;
            border: 1px solid #b6ff00;
            background-color: brown;
            margin: 5px;
            line-height: 30px;
            vertical-align: middle;
        }

        #menu a {
            color: aliceblue;
            text-decoration: none;
            font-size: smaller;
        }

        #menu li:hover {
            background-color: aquamarine;
        }

        #menu li:hover {
            color: blue;
        }
    </style>

</head>
<body>
    <div id="menu" class="block">
        <ul>
            <li>@Html.ActionLink("Ana Sayfa", "HomePage", "Views")</li> @*sabit link burada duracak*@
                 @RenderSection("Link",false)                           @*ihtiyaç halinde header kısmını bozmadan yeni bir Link yazılabilir.*@
        </ul>
    </div>

    <div class="block">
        @RenderBody()
    </div>

    <div class="block">
        @RenderSection("Footer",false) @*Her sayfaya ekstra footer eklemek istemiyorsanız false yapabilirsiniz.*@
        <br />
        <b>Tüm hakları saklıdır. &copy;</b>
    </div>
</body>
</html>
